*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0 30px;
}

.result {
  padding-left: 5px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.result__video-container {
  width: 100%;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
}

.content__list::-webkit-scrollbar {
  width: 5px;
}

.content__list::-webkit-scrollbar-track {
  background-color: #1b1919;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #000;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 16px;
}

.search-form__fieldset {
  border: none;
  padding-bottom: 7px;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}


.search-form__label:has(input:focus) {
  outline: none;
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 0 15px;
}

.search-form__label {
  display: flex;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  min-width: 100%;
  height: 100%;
  border: 1px solid #1B1919; 
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  background-color: #FFF;
}

.title {
  padding-bottom: 26px;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

/* ТЕМПЛЕЙТЫ */

.content__list-item {
  padding: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link {
  display: block;
  min-width: 100%;
  padding: 2px;
  color: #FFF;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #1B1919;
}

.content__video-card-title {
  width: 200px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  
}

.content__video-card-description {
  padding-top: 6px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

.button {
  display: block;
  border: 1px solid #FFF;
  padding: 6px 68px;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  background-color: transparent;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  min-width: 100%;
}

.more-button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}